# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MyWork2\Exactly_Once_Kafka_SparkStreamingAndKafka\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
